# Based on NumPy's clang-format style at
# https://github.com/numpy/numpy/blob/main/.clang-format

BasedOnStyle: Google
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: TopLevel
BreakBeforeBraces: Stroustrup
ColumnLimit: 100
ContinuationIndentWidth: 4
DerivePointerAlignment: false
IndentWidth: 4
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^[<"](Python|structmember|pymem)\.h'
    Priority:        -3
    CaseSensitive:   true
  - Regex:           '^"mrmustard/math/mathlib/cython_lattice/'
    Priority:        -2
  - Regex:           '^"[[:alnum:]_.]+"'
    Priority:        1
  - Regex:           '^<[[:alnum:]_.]+>'
    Priority:        2
IndentPPDirectives: AfterHash
Language: Cpp
PointerAlignment: Right
ReflowComments: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
StatementMacros: [PyObject_HEAD, PyObject_VAR_HEAD, PyObject_HEAD_EXTRA]
TabWidth: 4
UseTab: Never