.*

.DS_Store
.vscode
*.egg-info*
*.pdf
*.pkl
*.png
*.ipynb
*.pyc
*.uxf
*.npy

.coverage
.hypothesis/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
/.serialize_cache/
__pycache__/
coverage.xml
doc/_build
doc/code/api/*
mrmustard/math/tmp/jax_cache/
notebooks/*
