[tool.poetry]
name = "mrmustard"
version = "0.5.0-dev"
description = "Differentiable quantum Gaussian circuits"
authors = ["Xanadu <filippo@xanadu.ai>"]
license = "Apache License 2.0"
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: Apache Software License",
    "Natural Language :: English",
    "Operating System :: POSIX",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: POSIX :: Linux",
    "Operating System :: Microsoft :: Windows",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Scientific/Engineering :: Physics",
]

[tool.poetry.dependencies]
python = ">=3.9,<3.11"
numpy = "1.23.5"
scipy = "1.8.0"
numba = "0.56.4"
thewalrus = "0.19.0"
tensorflow = "<=2.10.1"
tensorflow-cpu-aws = { version = "2.10.0", markers = "platform_machine == 'aarch64' or platform_machine == 'arm64'" }
tensorflow-probability = "0.18.0"
rich = "10.15.1"
matplotlib = "3.5.0"
tqdm = "^4.65.0"
ray = { version = "2.5.0", extras = ["tune"], optional = true }
scikit-optimize = { version = "^0.9.0", optional = true }

[tool.poetry.extras]
ray = ["ray", "scikit-optimize"]

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pytest = "6.2.5"
pytest-cov ="3.0.0"
hypothesis = "6.31.6"
pylint = "2.10.0"
black = ">=22.1.0"

[tool.poetry.group.doc]
optional = true

[tool.poetry.group.doc.dependencies]
sphinx = "^7.0.1"
docutils = "^0.20.1"
m2r2 = "^0.3.3.post2"
sphinx-autodoc-typehints = "^1.23.3"
sphinx-copybutton = "^0.5.2"
sphinx-automodapi = "^0.15.0"
sphinxcontrib-bibtex = "^2.5.0"
mistune = "0.8.4"
xanadu-sphinx-theme = "0.1.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
