name: Build package
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HYPOTHESIS_PROFILE: ci
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.10']
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.python-version }}
      cancel-in-progress: true

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Build and install Mr Mustard
        run: |
          python -m pip install --no-cache-dir --upgrade pip
          pip install --no-cache-dir poetry==1.4.0
          poetry config virtualenvs.create false
          poetry build
          pip install dist/mrmustard*.whl
          # Move to 'src' to properly test only installed package
          # https://docs.pytest.org/en/7.1.x/explanation/goodpractices.html#tests-outside-application-code
          mkdir src
          mv mrmustard src

      - name: Install only test dependencies
        run: poetry install --no-root --extras "ray" --with dev

      - name: Setup Julia
        uses: julia-actions/setup-julia@v1
        with:
          version: 1.9.3
        run: julia --project="julia_pkg" -e "using Pkg; Pkg.instantiate()"

      - name: Run tests
        run: python -m pytest tests -p no:warnings --tb=native
