name: Changelog entry
on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]

jobs:
  changelog:
    runs-on: ubuntu-latest
    if: contains( github.event.pull_request.labels.*.name, 'no changelog') != true

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 2

    - name: check changelog entry
      run: |
        has_changelog=$(git diff --name-only -r HEAD^1 HEAD | grep .github/CHANGELOG.md)
        echo $has_changelog
        [  -z "$has_changelog" ] && exit 0 || exit 1
