name: Numpy tests
on:
  push:
    branches:
      - develop
  pull_request:
    paths:
      - '.github/workflows/tests.yml'
      - 'mrmustard/**'
      - 'tests/**'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'pytest.ini'

jobs:
  pytest:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    env:
      HYPOTHESIS_PROFILE: c

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Setup Julia
        uses: julia-actions/setup-julia@v1
        with:
          version: 1.9.3

      - name: Install dependencies
        run: |
          python -m pip install --no-cache-dir --upgrade pip
          pip install --no-cache-dir poetry==1.4.0
          poetry config virtualenvs.create false
          poetry install --extras "ray" --with dev
          julia --project="julia_pkg" -e "using Pkg; Pkg.instantiate()"

      - name: Run tests
        run: python -m pytest tests --backend=numpy -p no:warnings --tb=native
