name: Docs tests
on:
  push:
    branches:
      - develop
  pull_request:
    paths:
      - '.github/workflows/tests.yml'
      - 'mrmustard/**'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'pytest.ini'

jobs:
  docs:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    env:
      HYPOTHESIS_PROFILE: ci

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --no-cache-dir --upgrade pip
          pip install --no-cache-dir poetry==1.4.0
          poetry config virtualenvs.create false
          poetry install --extras "ray" --with dev

      - name: Run tests
        run: python -m pytest --doctest-modules mrmustard/lab_dev/wires.py