name: Upload
on:
  release:
    types: [published]

jobs:
  upload:
    runs-on: ubuntu-latest
    env:
      HYPOTHESIS_PROFILE: ci

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.5.23"

      - name: Build and install Mr Mustard
        run: |
          uv build
          uv pip install dist/mrmustard*.whl
          # Move to 'src' to properly test only installed package
          # https://docs.pytest.org/en/7.1.x/explanation/goodpractices.html#tests-outside-application-code
          mkdir src
          mv mrmustard src

      - name: Install only test dependencies
        run: uv sync --inexact --no-install-project --all-extras

      - name: Run tests
        run: uv run --no-project pytest tests -p no:warnings --tb=native --backend=tensorflow

      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PIPY_TOKEN }}

      - name: Install MrMustard from pypi
        run: python -m pip install mrmustard

      - name: Print about
        run: |
          echo "import mrmustard; print(mrmustard.about())" > test_install.py
          python test_install.py
